.header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 16px;
}

#logo {
    background-color: #ff7f7f;
    height: 35px;
    animation: spin 8s linear infinite;
}

.loginModal {
    padding: 5%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}